<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<link rel="icon" href="../favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/_app/assets/pages/__layout.svelte-4e434554.css">
	<link rel="modulepreload" href="/_app/start-208e1b29.js">
	<link rel="modulepreload" href="/_app/chunks/index-0682f6ed.js">
	<link rel="modulepreload" href="/_app/chunks/singletons-d1fb5791.js">
	<link rel="modulepreload" href="/_app/pages/__layout.svelte-58f83687.js">
	<link rel="modulepreload" href="/_app/pages/components/TopNav.svelte-17b47247.js">
</head>

<body>
	<div>


<div class="bg-black pb-5"><div class="flex justify-center"><div class="max-w-screen-2xl bg-primary px-10"><nav>Blank labs</nav></div></div>
	<div class="mt-10 flex justify-center"><div class="text-white opacity-75 text-xs text-center">Designed by: Simran, Karthik, and Ankit using Figma.   Developed by Aravind using
		Svelte
	</div></div></div>


		<script type="module" data-hydrate="a9vlci">
		import { start } from "/_app/start-208e1b29.js";
		start({
			target: document.querySelector('[data-hydrate="a9vlci"]').parentNode,
			paths: {"base":"","assets":""},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/_app/pages/__layout.svelte-58f83687.js"),
						import("/_app/pages/components/TopNav.svelte-17b47247.js")
				],
				params: {},
				routeId: "components/TopNav"
			}
		});
	</script></div>
</body>

</html>